@import 'tailwindcss';

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

ol,
ul,
menu {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #eee;
  padding: 1rem;
}

main {
  flex: 1; 
  padding: 2rem;
}

footer {
  background: #ddd;
  padding: 1rem;
  text-align: center;
}